h1 {
    font-family: Arial;
    color: crimson;
}

#listintro {
    font-family: Arial;
    color: crimson;
    font-weight: 700;
    text-decoration: underline;
    font-style: italic;
    font-size: large;
}

.text {
    color: midnightblue;
}

body {
    background-color: #9b9db3;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#death {
    background-color: #020106;
    padding: 20px;
}

link {
    margin: 10px;
}